CONFIG_BOARD_TYPE_WAVESHARE_ESP32_P4_WIFI6_TOUCH_LCD_7B=y
CONFIG_LANGUAGE_EN_US=y
CONFIG_USE_WECHAT_MESSAGE_STYLE=n
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_BOOTLOADER_CACHE_32BIT_ADDR_QUAD_FLASH=y
CONFIG_ESPTOOLPY_FLASHSIZE_32MB=y
CONFIG_ESPTOOLPY_FLASH_MODE_AUTO_DETECT=n
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/ampve/7b-stock-v1.csv"
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=0
CONFIG_SPIRAM_MEMTEST=y
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_BOOTLOADER_APP_ANTI_ROLLBACK=n
CONFIG_SECURE_BOOT=n
CONFIG_SECURE_FLASH_ENC_ENABLED=n
CONFIG_APP_COMPILE_TIME_DATE=n
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_36=y
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_20=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_LOG_DEFAULT_LEVEL_WARN=y
CONFIG_LOG_MAXIMUM_LEVEL_WARN=y
CONFIG_OTA_URL="https://ampve.com/firmware/unavailable"
CONFIG_USE_HOTSPOT_WIFI_PROVISIONING=y
CONFIG_USE_ESP_BLUFI_WIFI_PROVISIONING=n
CONFIG_FLASH_NONE_ASSETS=y
CONFIG_FLASH_DEFAULT_ASSETS=n
CONFIG_APP_REPRODUCIBLE_BUILD=y
